h1.clan-q {
    color: #cecece;
    background: #000000;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);


    * {
        transition: color 0.1s linear;
    }

    span {
        color: #cecece !important
    }
    
   
    &:hover, &.hover {
        color: #333333;
    }

}

